@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-jetbrains-mono: 'JetBrains Mono', monospace;
  --font-variant-ligatures: common-ligatures;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --font-jetbrains-mono: 'JetBrains Mono', monospace;
    --font-variant-ligatures: common-ligatures;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetbrains-mono);
  font-variant-ligatures: common-ligatures;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.hamburger span:nth-child(1) {
  transform-origin: top left;
}

.hamburger span:nth-child(2) {
  opacity: 1;
}

.hamburger span:nth-child(3) {
  transform-origin: bottom left;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}